# Dependencies
node_modules/
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# Builds
build/
dist/
target/
*.apk
*.aab
*.exe

# IDEs / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
*.swp

# Environment variables
.env
.env.*
*.local

# Project specific
backend/target/
frontend/dist/
frontend/node_modules/
mobile/build/
mobile/.dart_tool/
